@import './imageAnimation.css';
@import './writingAnimation.css';

.apresentation {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(47deg, rgba(243,229,8,1) 0%, rgba(243,177,8,1) 41%, rgba(243,189,8,1) 63%, rgba(243,126,8,1));
  background-size: 500% 500%;
  animation: background_animate 10s ease infinite;
  transition: .2s;
}

.apresentation2 {
  width: 100%;
  height: 100vh;
  display: flex;
  background: linear-gradient(273deg, rgba(255,0,33,1) 0%, rgba(250,4,255,1) 13%, rgba(123,4,255,1) 24%, rgba(4,50,255,1) 33%, rgba(4,202,255,1) 46%, rgba(4,255,151,1) 57%, rgba(119,255,4,1) 67%, rgba(233,255,4,1) 76%, rgba(243,126,8,1) 100%);
  background-size: 500% 500%;
  justify-content: center;
  align-items: center;
  transition: .2s;
  animation: background_animate 15s ease infinite;
}

.apresentation__icons{
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 10px;
  width: 80%;
}

.apresentation__icons-links{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 13%;
  margin-right: 5px;
}

.apresentation__icons-buttons{
  width: 19%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.apresentation__icon{
  width: 26%;
  margin: 0 2px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.apresentation__icon img{
  width: 100%;
}

.apresentation__icon img:hover{
  box-shadow: 0 0 10px 2px white;
  background: white;
}

@keyframes background_animate {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
} 

@media (max-width: 1440px){
  .apresentation__icon{
    width: 32%;
  }
}

@media (max-width: 1024px){
  .apresentation__icon{
    width: 35%;
  }
}

@media (max-width: 768px){
  .apresentation{
    flex-direction: column-reverse;
    justify-content: end;
  }
}

@media (max-width: 612px){
  .apresentation__icon{
    width: 60%;
  }
}

@media (max-width: 500px){
  .apresentation{
    flex-direction: column-reverse;
    justify-content: end;
  }

  .apresentation__icons-links{
    width: 18%;
  }

  .apresentation__icons-buttons{
    width: 27%;
  }

  .apresentation__icon{
    width: 100%;
  }
}

@media (max-width: 320px){
  .apresentation__icons-links{
    width: 18%;
  }

  .apresentation__icons-buttons{
    width: 25%;
  }
}