@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@import './header.css';
@import './apresentation.css';

body{
    background: black;
    color: white;
}

.portifolio{
  width: 100%;
  height: 100vh;
  background: url('../images/background-portifolio.gif') no-repeat center / 100%;
}